@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<!--
    Author:    Tyler Allen
    Partner:   Ben Malohi
    Date:      October 10, 2021
    Course:    CS 4540, University of Utah, School of Computing
    Copyright: CS 4540 and Tyler Allen, Ben Malohi - This work may not be copied for use in Academic Coursework.
    We, Tyler Allen and Ben Malohi, certify that we wrote this code from scratch and did not copy it in part or whole from
    another source.  Any references used in the completion of the assignment are cited in my README file.
    File Contents
    This page simply thanks the user for confirming their account, and asks if they want to make an application.
-->
<h1>@ViewData["Title"]</h1>
<body>
    <p>Thank you for confirming your email! <a asp-controller="Applications" asp-action="Create">Would you like to create an application?</a></p>
</body>