@model TAApplication.Models.Application
@{
    ViewData["Title"] = "Edit";
}
@using Microsoft.AspNetCore.Identity
@using TAApplication.Areas.Identity.Data

@inject SignInManager<TAUser> SignInManager
@inject UserManager<TAUser> UserManager
<!--
    Author:    Tyler Allen
    Partner:   Ben Malohi
    Date:      September 20, 2021
    Course:    CS 4540, University of Utah, School of Computing
    Copyright: CS 4540 and Tyler Allen, Ben Malohi - This work may not be copied for use in Academic Coursework.
    We, Tyler Allen and Ben Malohi, certify that we wrote this code from scratch and did not copy it in part or whole from
    another source.  Any references used in the completion of the assignment are cited in my README file.
    File Contents
    This is the edit page to edit an applicants info from the application screen.
-->
<!--if (UserManager.GetUserAsync(User).Id == TempData.Peek()) {-->
<h1>
    <!--Header image/text of the page-->
    <div class="container" id="applicant_form">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="~/images/1200px-Utah_Utes_logo.svg.png" alt="University of Utah Logo" width="125" height="125">
            <h2>TA Application Form</h2>
            <p class="lead">Edit the application below.</p>
            <hr class="mb-4">
        </div>
    </div>
</h1>

<div class="row">
    <!--Controls the preferred email/phone# contact method, profile picture inputs-->
    <div class="col-md-4 order-md-3 mb-4">
        <label>Preferred Method of Contact:</label>
        <div class="d-block my-2">
            <div class="custom-control custom-radio">
                <input id="preferredcontact_email" name="preffered_input" type="radio" class="custom-control-input" checked="" required="">
                <label class="custom-control-label" for="preferredcontact_email">Email</label>
            </div>
            <div class="custom-control custom-radio">
                <input id="preferrecontact_phone" name="preffered_input" type="radio" class="custom-control-input" required="">
                <label class="custom-control-label" for="preferrecontact_phone">Phone</label>
            </div>
        </div>
        <div class="col-md-5 mb-2">
            <label for="picture">Profile Photo:</label>
            <form action="/action_page.php">
                <input type="file" id="profile_picture_form" name="filename">
                <img id="profile_picture_preview_form" src="#" alt="Profile Picture Preview" />
            </form>
        </div>
        <div class="col-md-5 mb-2">
            <label for="fluency">English Fluency:</label>
             <select asp-items="@Html.GetEnumSelectList(typeof(Application.EnglishFluency))">

             </select>
             
        </div>
    </div>

    <div class="col-md-8 order-md-1">
        <form asp-action="Edit">
            <h4 class="mb-3">Application Form</h4>

            <!--Controls the FirstName/LastName inputs-->
            <div class="row">
                <div class="col-md-6 md-3">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>

            <!--Hides the ID of the applicant-->
            <input type="hidden" asp-for="ID" />

            <!--Controls the uID/PhoneNumber inputs-->
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="uID" class="control-label"></label>
                    <input asp-for="uID" class="form-control" />
                    <span asp-validation-for="uID" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>

            <!--Controls the Address/CurrentDegree inputs-->
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="CurrentDegree" class="control-label"></label>
                    <input asp-for="CurrentDegree" class="form-control" />
                    <span asp-validation-for="CurrentDegree" class="text-danger"></span>
                </div>
            </div>

            <!--Controls the CurrentProgram/GPA inputs-->
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="CurrentProgram" class="control-label"></label>
                    <input asp-for="CurrentProgram" class="form-control" />
                    <span asp-validation-for="CurrentProgram" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="GPA" class="control-label"></label>
                    <input asp-for="GPA" class="form-control" />
                    <span asp-validation-for="GPA" class="text-danger"></span>
                </div>
            </div>

            <!--Controls the NumberHours/PersonalStatement inputs-->
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="NumberHours" class="control-label"></label>
                    <input asp-for="NumberHours" class="form-control" />
                    <span asp-validation-for="NumberHours" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="PersonalStatement" class="control-label"></label>
                    <input asp-for="PersonalStatement" class="form-control" />
                    <span asp-validation-for="PersonalStatement" class="text-danger"></span>
                </div>
            </div>

            <!--Controls the SemestersCompleted/LinkedInURL inputs-->
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="SemestersCompleted" class="control-label"></label>
                    <input asp-for="SemestersCompleted" class="form-control" />
                    <span asp-validation-for="SemestersCompleted" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="LinkedInURL" class="control-label"></label>
                    <input asp-for="LinkedInURL" class="form-control" />
                    <span asp-validation-for="LinkedInURL" class="text-danger"></span>
                </div>
            </div>

            <!--Controls the ResumeFile/ApplicantPhoto inputs-->
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="ResumeFile" class="control-label"></label>
                    <input asp-for="ResumeFile" class="form-control" />
                    <span asp-validation-for="ResumeFile" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="ApplicantPhoto" class="control-label"></label>
                    <input asp-for="ApplicantPhoto" class="form-control" />
                    <span asp-validation-for="ApplicantPhoto" class="text-danger"></span>
                </div>
            </div>

            <!--Controls the CreationDate/ModificationDate inputs-->
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="CreationDate" class="control-label"></label>
                    <input asp-for="CreationDate" class="form-control" />
                    <span asp-validation-for="CreationDate" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="ModificationDate" class="control-label"></label>
                    <input asp-for="ModificationDate" class="form-control" />
                    <span asp-validation-for="ModificationDate" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-danger btn-lg btn-block" />
            </div>
        </form>
    </div>
</div>
<!--}
else {
<h1 href="/Home/Index">Looks like you're in the wrong page! Redirect back to the home page.</h1>
}-->
<!--Button to take you back to the list page-->
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
